{% extends "base.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="row">
  {% for job in pagination.items %}
  <div class="col-sm-6 col-md-4 job">
    <div class="thumbnail">
    <a href="{{ job.url }}" target="_blank">
        <img src="{{ job.image_url }}" alt="">
        <div class="caption">
            <h4 class="job__name">{{ job.name }}</h4>
            <p class="job__tags">{{ job.tags }}</p>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>

{{ render_pagination(pagination, 'front.joblist') }}
{% endblock %}