{% macro render_job_details(job) %}
    <div class="caption">
        <a href="/jobs/{{ job.id }}" target="_blank">
        <h4 class="job_name">{{ job.name }}</h4>
        </a>
        <p>
            <small class="job_info">{{ job.updated_at }}</small>
            <small class="requirement">{{ job.experience_requirement }}</small>
        </p>
        <p class="salary">{{ job.salary_low }}~{{ job.salary_high }}</p>
        <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color=#987cb9 SIZE=3>
        <p class="company_name">{{ job.company.name }}</p>
        <p class="company_desc">{{ job.company.team_introduction }}</p>
        </div>
{% endmacro %}

{% macro render_company_details(company) %}
    <div class="thumbnail">
    	<a href="/companys/{{ company.id }}" target="_blank">
			<img src="{{ company.logo }}" alt="logo">
		</a>
	    <div class="caption">
			<p class="company_info">{{ company.name }}</p>
	      	<p class="company_info">{{ company.updated_at }}</p>
	        <p class="company_info">{{ company.location }}</p>
	        <p class="tags">{{ company.tags }}</p>
	    </div>
    </div>
{% endmacro %}